@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Mulish';
  background-color: #E5E5E5;;
}

.cursor-pointer {
  cursor: pointer;
}

.task-item:hover {
  background-color: #F5F7F9;
}

ul.react-paginate {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

ul.react-paginate li {
  border-radius: 16px;
}
ul.react-paginate li a {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

ul.react-paginate li:hover {
  background-color: transparent;
  cursor: default;
}
ul.react-paginate li:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

ul.react-paginate li.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

ul.react-paginate li.disabled {
  pointer-events: none;
}

ul.react-paginate li.arrow a::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: '';
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

ul.react-paginate li.arrow.left a {
  transform: rotate(-135deg) translate(0);
}

ul.react-paginate li.arrow.right a {
  transform: rotate(45deg);
}